---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <!--<div class="author_image">
          <img src="{{site.baseurl}}/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>-->
        <div class="author_info">
          <h2 class="author_title">MineraliFluorescenti</h2>
<p>
Questo sito è nato con l'idea di provvedere alcune pagine di riferimento
riguardo i minerali fluorescenti, o, più in generale, luminescenti. Varie
risorse sono disponibili in lingua inglese, ma non molto in
italiano.
</p>
<p>
MineraliFluorescenti nasce nel Novembre 2020. Ad oggi ci sono ancora pochi
contenuti, ma si spera di poterne aggiungerne presto. Se anche voi collezionate
minerali fluorescenti e volete condividere le vostre fotografie o quello che
sapete su particolari minerali o località fatevi sentire! Potete contattarmi
scrivendo a <a href="mailto:info@mineralifluorescenti.com" target="_blank">info@mineralifluorescenti.com</a>
</p>
<p>
Crediti:<br>
Immagine di sfondo: Willemite e dolomite da Aroona Zinc Mine, South Australia foto di 
<a href="https://www.naturesrainbows.com/post/2020/07/21/willemite-and-dolomite-from-the-aroona-zinc-mine-flinders-ranges-south-australia" target="_blank">Chris Clemens</a>.
Immagine di copertina: Calcite, fluorite e willemite da Hidalgo County, New Mexico foto di 
<a href="https://www.naturesrainbows.com/post/2020/06/04/calcite-fluorite-and-willemite-from-hidalgo-county-new-mexico" target="_blank">Chris Clemens</a>.
Layout design by <a href="https://artemsheludko.github.io" target="_blank">Artem Sheludko</a>.
</p>
<p>&copy; {{site.time | date: '%Y'}} MineraliFluorescenti All rights reserved.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
